/* ==========================================================================
   Page takes whole height
   ========================================================================== */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  position: relative;
  overflow: hidden;
}

.page .page__header,
.page .page__content {
  width: 100%;
  max-width: 800px;

  padding: 2em;
  margin: 0 auto;

  text-align: center;
}



/* First page with welcome text and background */
.page.page--main {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1)), url("../img/bg.jpg");
  background-size: cover;
}




/* Select preposition with red color
   ========================================================================== */
.preposition {
  color: #c20000;
  font-weight: 400;
}





