/* ==========================================================================
   Page takes whole height
   ========================================================================== */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  position: relative;
  overflow: hidden;
}

.page .page__header,
.page .page__content,
.page .page__footer {
  width: 100%;
  max-width: 800px;

  padding: 2em;
  margin: 0 auto;

  text-align: center;
}



/* First page with welcome text and background */
.page.page--main {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1)), url("../img/bg.jpg");
  background-size: cover;
}




/* Select preposition with red color
   ========================================================================== */
.preposition {
  color: #c20000;
  font-weight: 400;
}



/* Warning messages
   ========================================================================== */
.warning {
  margin: 0.5rem 0;

  font-style: italic;
  font-size: 0.6rem;
}

  .warning--info {
    color: #828181;
  }

  .warning--error {
    color: #c20000;
  }



/* Small devices
   ========================================================================== */
@media screen and (max-width : 375px) {
  .page .page__header,
  .page .page__content,
  .page .page__footer {
    padding: 1em;
  }
}





