
/* ==========================================================================
   Single question styles
   ========================================================================== */
.question {
  margin: 2rem auto;

  font-size: 2rem;
}


/* QuestionForm input
   ========================================================================== */
.question input {
  width: 100px;
  margin: 0 10px;
}


/* QuestionForm result message
   ========================================================================== */
.question-result {  }
.question-result__wrong {  }

.question-result .preposition {
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
}


