
/* ==========================================================================
   quiz form
   ========================================================================== */
.quiz-form {
  width: 100%;

  text-align: center;
}

.quiz-form header{
  text-align: center;
}

  .quiz-form footer button {
    width: 150px;
    margin-bottom: 10px;
  }

    .quiz-form footer button:first-child{
      margin-right: 20px;
    }

.quiz-form .progress-bar {
  margin: 10px 0;
}



/* Small devices
   ========================================================================== */
@media screen and (max-width : 320px) {
  .quiz-form footer button {
    width: 100%;
  }
}
