
/* ==========================================================================
   Single question styles
   ========================================================================== */
.question {
  margin: 2rem auto;

  font-size: 2rem;
}


/* Question input
   ========================================================================== */
.question input {
  width: 80px;
  margin: 0 10px;

  outline: none;
  border: none;
  border-bottom: 1px solid #333;

  text-align: center;
}

.question input:focus {
  outline: none;
  border-bottom-color: dodgerblue;
}


/* Question result message
   ========================================================================== */
.question-result {  }
.question-result__wrong {  }

.question-result em {
  font-weight: 600;
  font-style: normal;
}

.question-result__wrong em{
  color: dodgerblue;
}


/* Quiz total score
   ========================================================================== */
.quiz-result {
  font-size: 3rem;
  color: dodgerblue;
}
